<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h2>Welcome, {{ name }}</h2>
    <a href="{{ url_for('logout') }}" class="btn btn-danger">Logout</a>
    <a href="{{ url_for('upload_model') }}" class="btn btn-primary">Upload Model</a>
</div>
</body>
</html>
